.navbar {
  .container {
    width: unset;
  }
  @media only screen and (max-width: 992px) {
    .navbar-collapse {
      background-color: $navbar-default-bg;
    }
    .container > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-header, .container-fluid > .navbar-collapse {
      margin-left: 0;
      margin-right: 0;
    }

  }
}

.navbar-header {
  ul {
    display: none;
  }
  @media only screen and (max-width: 992px) {

    > ul {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      list-style: none;
      width: 100%;
      margin-bottom: 0;
      .navbar-toggle {
        margin-right: 0;
      }
      li {
        margin-right: 15px;
      }
      a {
        color: black;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.navbar-nav.navbar-left {
  display: none;
  @media only screen and (max-width: 992px) {
    display: unset;
  }
}

.navbar-admin {
  height: 45px;
}

.navbar-admin-brand {
  padding: 4px 0;
  img {
    max-width: 100%;
  }
}

.nav li.active {
  &:after {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    content: '';
    height: 2px;
    background-color: $brand-primary;
  }
  a {
    background-color: transparent !important;
    color: black !important;
    i {
      color: black !important;
    }
  }
}
