.sidebar {
  border-right: 1px solid $laravel-border-color;
  min-height: 100vh;
  position: fixed;
  width: 16.66667%;
  top: 0;
  left: 0;
  padding-left: 0;
  padding-right: 0;

  + .col-md-10 {
    float: right;
  }
  .navbar-nav {
    width: 100%;
    background-color: darken($navbar-default-bg, 5);
    li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      float: none;
      position: relative;
      width: 100%;
      a {
        i {
          width: 30px;
          text-align: center;
          color: #777;
          transition: 150ms ease-in-out color;
        }
        color: #777;
        width: 100%;
        transition: 150ms ease-in-out color;
        &:hover {
          color: black;
          i {
            color: black;
          }
        }
      }
    }
  }

  .dropdown-menu {
    position: unset;
    width: 100%;
    box-shadow: none;
    border: none;
    display: block;
    max-height: 0;
    overflow: hidden;
    background-color: inherit;
    transition: max-height 350ms ease-in-out;
    a {
      padding-top: 14px;
      padding-left: 49px;
      padding-bottom: 14px;
    }
    li {
      transform: scaleY(0);
      transition: transform 350ms 150ms ease-in-out;
    }
  }
  .open .dropdown-menu {
    /* Basicly higher than it should any time will be */
    max-height: 500px;
    li {
      transform: scaleY(1);
    }
  }
  > div {
    margin-bottom: 15px;

    width: 100%;
    > a {
      background-color: darken($navbar-default-bg, 5);
      border-bottom: 1px solid $laravel-border-color;
      img {
        position: relative;
        top: 9px;
        margin: 0 auto;
        max-width: 90%;
      }
    }
  }
  @supports (position: sticky) {
    position: sticky;
    top: 0;
    left: 0;
    + .col-md-10 {
      float: left;
    }
  }
}