.row {
    flex: 1 0 100%;
    margin: 0.5em auto;
    max-width: 50vw;

    input, textarea {
        border:1px solid #e3e3e3;
        border-radius: 4px;
        padding:4px;
        width: 100%;
    }
    button {
        border:1px solid #e3e3e3;
        border-radius: 4px;
        padding:8px 4px;
        width: 102%;
        background-color: #0d6a8b;
        color: white;
    }
}
