.task {
  li {
    list-style: none;
    margin-top: 10px;
    position: relative;
    i {
      display: block;
      position: absolute;
      top: 50%;
      left: -30px;
      transform: translateY(-50%);
      width: 14px;
      height: 14px;
      text-align: center;
      color: white;
      &:before {
        position: absolute;
        z-index: 1;
        left: 50%;
        transform: translate(-51%, -3%);
      }
      &:after {
        display: block;
        position: relative;
        content: '';
        width: 24px;
        height: 24px;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    a {
      color: inherit;
    }
    &.done {
      i:after {
        background-color: green;
      }
    }
    &.not-done {
      i:after {
        background-color: red;
      }
    }
  }
}