
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import "node_modules/font-awesome/scss/font-awesome.scss";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap.scss";
// Variables
@import 'variables';

* {
  font-family: 'Nunito', 'sans-serif';
  margin: 0;
  padding: 0;
  text-decoration: none;
}
a {
  color: #0f0f0f;
}

h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 1.5em;
}

.panel-heading-crud {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0;
  .panel-heading-left {
    height: 100%;
    flex: 1 0 50%;
    h1 {
      margin:0;
      padding: 10px 15px;
    }
  }
  .panel-heading-right {
    height: 100%;
    flex: 1 0 50%;
	display:flex;
    justify-content: flex-end;
  }
  i {
    font-size: 2em;
    color: white;
  }
  a {
    display: block;
    padding: 15px 15px;
  }
}
.required:not(.form-group) {
  color:red;
}
img {
  max-width: 100%;
}

.social-box {
  border-radius: 5px;
  background-repeat: no-repeat !important;
  margin-left: 7.5px;
  margin-right: 7.5px;
  padding-top: 7.5px;
  min-height: 115px;
  margin-bottom: 15px;
  position: relative;
}

.social-box a {
  color: white;
  display: block;
}

.social-box a .url-beam {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.social-box a .url-beam i {
  margin-left: 10px;
}

.instagram {
  color: white;
  background: #0e68ce url(/images/instagramlogo.png?c61ce26bd0a66d333bc26a372a720903);
  background-position: 95% 10%;
  background-size: 25px 25px;
  margin-left: 30px;
}

.instagram .url-beam {
  background: #1f81f0;
}

@media only screen and (max-width: 992px) {
  .instagram {
    margin-left: 7.5px;
  }
}

.youtube {
  color: white;
  background: #ee0f0f url(/images/youtubelogo.svg?5bce455b7d1e0e07b6aecb1a637feefe);
  background-position: 95% 12%;
  background-size: 60px 25px;
}

.youtube .url-beam {
  background: #f33d3d;
}

.twitter {
  color: white;
  background: #433e90 url(/images/twitterlogo.png?0cf62d06b22ed1f1302f7173f7a3eb60);
  background-position: 95% 10%;
  background-size: 30px 25px;
}

.twitter .url-beam {
  background: #544eb3;
}

@media screen and (max-width: 800px) {
    .dropdown-menu {
        position: relative;
        border: none;
        background: none;
        box-shadow: none;
        width: 100%;

        li {
            a {
                padding-top: 10px;
                padding-bottom: 10px;
                line-height: 20px;
                color: #777;
            }
        }
    }
}


@import './navbar';
.navbar {
  background: #65a0ef;
  color: white;
  margin-bottom: 0;
  a.navbar-brand,
  > li a,
  > li a:hover,
  li a:hover,
  > li a:active,
  .navbar-nav .navbar-brand:hover,
  > li a:focus {
    color: white !important;
  }
  .navbar-toggle {
    border-color: #fff;
  }
}
.navbar-nav > li a {
  color: white;
  &:hover, &:active, &:focus {
    background-color: unset;
  }
}
.navbar .navbar-toggle .icon-bar {
    background-color: #fff;
}
@media screen and (min-width: 800px) {
  .navbar {
    min-height: 100vh;
    width: 20vw;
    .navbar-brand {
      padding-left: 30px;
    }
    .container {
      max-width: 100%;
    }
    &-brand {
      width: 100%;
    }
    &-header {
      float: none;
    }
    .nav {
      display: flex;
      flex-direction: column;
      li > a {
        background: transparent;
      }
    }
    .dropdown-menu {
      position: relative;
      top: unset;
      left: unset;
      right: unset;
      background-color: unset;
      box-shadow: unset;
      border: unset;
      a {
        padding: 15px 15px 15px 30px;
      }
    }

    &-collapse {
      float: none;
    }
  }
  #app-navbar-collapse {
    display: flex !important;
    flex-direction: column;
    .navbar-nav {
      flex: 1 0 100%;
    }
    .navbar-right {
      margin-right: 0;
    }
  }
  .content-container {
    min-width: 80vw;
    background: linear-gradient(#1e1e2f,#1e1e24);
    .container {
      width: calc(80vw - 30px);
    }
  }
}
#app {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 800px) {
    flex-direction: row;
  }
}
.panel {
  margin-top: 15px;
  margin-bottom: 15px;
  .panel-heading {
    background-color: unset;
    border: unset;
    color: white;
    .sub-title {
      margin: 0;
      color: #9a9a9a;
      font-size: 1.25rem;
      line-height: 1.4em;
    }
    .main-title {
      margin: 0;
    }
  }
  border: unset;
  box-shadow: unset;
  background: #27293d;
}
table, thead, tbody, td, th, td > a{
  color: white;
}
